<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Open Research Calendar</title>
<link rel="apple-touch-icon" sizes="180x180" href="/Documents/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Documents/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Documents/icons/favicon-16x16.png">
<link rel="manifest" href="/Documents/icons/site.webmanifest">
<link rel="mask-icon" href="/Documents/icons/safari-pinned-tab.svg" color="#ff7700">
<link rel="shortcut icon" href="/Documents/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/Documents/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="SK-ecbv89UqucKZNAHFJb7vf7_mGu6vpUgzL3WLaB2M" />

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">The Open Research Calendar</h1>
      <h2 class="project-tagline">Live View</h2>
        <a href="https://openresearchcalendar.github.io/" class="btn">Return to Homepage</a>
    </header>

    <main id="content" class="main-content" role="main">
<p style="text-align: center;"><iframe style="border-width: 0;" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;src=b3BlbnJlc2VhcmNoY2FsZW5kYXJAZ21haWwuY29t&amp;color=%23F4511E&amp;showTitle=1&amp;title=Open%20Research%20Calendar&amp;showPrint=0&amp;showCalendars=0&amp;hl=en_GB" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <p style="text-align: right;"><span class="site-footer-owner">Supported by&nbsp;<a title="UK Reproducibility Network" href="https://www.ukrn.org/" target="_blank" rel="noopener"><img src="https://cpb-eu-w2.wpmucdn.com/blogs.bristol.ac.uk/dist/b/631/files/2020/09/UKRN-Logo-150-extra2.png" alt="" width="228" height="83" /></a></span></p>
<p>&nbsp;</p>
<p><span class="site-footer-owner">This page is maintained by the <a href="{{ site.github.repository_url }}">Open Research Calendar </a>team.</span></p>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
