<link rel="apple-touch-icon" sizes="180x180" href="/Documents/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Documents/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Documents/icons/favicon-16x16.png">
<link rel="manifest" href="/Documents/icons/site.webmanifest">
<link rel="mask-icon" href="/Documents/icons/safari-pinned-tab.svg" color="#ff7700">
<link rel="shortcut icon" href="/Documents/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/Documents/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="SK-ecbv89UqucKZNAHFJb7vf7_mGu6vpUgzL3WLaB2M" />