---
---

$header-bg-color: #ff7700 ;
$header-bg-color-secondary: #c35b00 ;
$section-headings-color: #ff7700 ;

@import "{{ site.theme }}";

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff7700;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button:hover {
    background-color: white;
    color: #ff7700;
    border: 2px solid #ff7700;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
